[Desktop Entry]
Name=WhatsApp (Waydroid)
Comment=Executa o WhatsApp Android em um container Waydroid
Exec=/usr/bin/whatsapp-waydroid
Icon=whatsapp-waydroid
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
StartupNotify=true
